<div class="main">
    <div class="cardlayout" id="cardlayout" *ngFor="let flim of bros">
        <div class="wrapper" id="wrapper">
            <img src="{{flim.Poster}}" class="image--cover">
        </div>
        <div class="cardname">
            <h4>{{flim.Title}}</h4>
        </div>
        <div class="carddetails">
            <h4>Movie {{flim.Title}} was launched on {{flim.Year}}</h4>
            <h3>
                Type is {{flim.Type}}
            </h3>
            <hr class="w-60">
        </div>
        <div class="social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-pinterest"></a>
        </div>
    </div>
</div>